/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, dl {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.5;
    font-size: 24px;
    color: lime;
    background-color: whitesmoke
}

.container{
    width: 100%;
    max-width: 1350px;
    min-width: 500px;
    margin: 60px auto;
    overflow: auto;
    background-color: whitesmoke
}
footer, main, aside, article, div{
    clear: both;
}

footer{
	text-align:center;
	padding: 20px;
    color: lime;
    font-size: 30px;
}
.left{
    clear: both; 
    float: left;
    padding: 20px;
}
.right{
    clear:both;
    float: right;
    padding: 20px;
}

.center{
    clear: both;
    display: block;
    margin: 10px auto;
}

img{
    box-sizing: border-box;
    margin: 10px;
    display: block;
}

.horizontal-menu{
    display: inline;
    margin-left: 20px;
   
}

.horizontal-menu a{
	text-decoration:none;
}


.top{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    text-align: center;
    margin: 15px 0;
    
}

nav{
    text-align: center;
}

h1, h2{
	color: lime;
	text-align: center;
	margin: 20px;
}

h1{
    font-size: 64px;
    margin: 40px;
}

h2{
    font-size: 40px;
    margin: 30px;
}

.button{
    color: yellow;
    border: 2px solid lime;
    padding: 10px 20px;
    background: darkgreen;
    text-decoration: none;
    border-radius: 20px;
}

.button:hover{
    color: lime;
    background: darkolivegreen;
}

p{
	padding: 10px;
}